In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
df=pd.read_csv('https://www.dropbox.com/s/aa37fjiyy63l2h7/UsedCarPrice.csv?dl=1')

In [8]:
df.head()

,Brand,Model,Year,Selling_Price,KM_Driven,Fuel,Seller_Type,Transmission,Owner
0,Maruti,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4340 entries, 0 to 4339
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Brand          4340 non-null   object
 1   Model          4340 non-null   object
 2   Year           4340 non-null   int64
 3   Selling_Price  4340 non-null   int64
 4   KM_Driven      4340 non-null   int64
 5   Fuel           4340 non-null   object
 6   Seller_Type    4340 non-null   object
 7   Transmission   4340 non-null   object
 8   Owner          4340 non-null   object
dtypes: int64(3), object(6)
memory usage: 305.3+ KB

In [10]:
fuel_set = set(df['Fuel'])
print(fuel_set)

{'Electric', 'Diesel', 'CNG', 'LPG', 'Petrol'}

In [11]:
df['Fuel'] = df['Fuel'].map({'CNG':4, 'LPG':3, 'Electric':5, 'Petrol':2, 'Diesel':1}).astype(int)

In [12]:
df.head()

,Brand,Model,Year,Selling_Price,KM_Driven,Fuel,Seller_Type,Transmission,Owner
0,Maruti,Maruti 800 AC,2007,60000,70000,2,Individual,Manual,First Owner
1,Maruti,Maruti Wagon R LXI Minor,2007,135000,50000,2,Individual,Manual,First Owner
2,Hyundai,Hyundai Verna 1.6 SX,2012,600000,100000,1,Individual,Manual,First Owner
3,Datsun,Datsun RediGO T Option,2017,250000,46000,2,Individual,Manual,First Owner
4,Honda,Honda Amaze VX i-DTEC,2014,450000,141000,1,Individual,Manual,Second Owner

In [13]:
transmission_set = set(df['Transmission'])
print(transmission_set)

{'Automatic', 'Manual'}

In [14]:
df['Transmission'] = df['Transmission'].map({'Manual':0, 'Automatic':1}).astype(int)

In [15]:
df.head()

,Brand,Model,Year,Selling_Price,KM_Driven,Fuel,Seller_Type,Transmission,Owner
0,Maruti,Maruti 800 AC,2007,60000,70000,2,Individual,0,First Owner
1,Maruti,Maruti Wagon R LXI Minor,2007,135000,50000,2,Individual,0,First Owner
2,Hyundai,Hyundai Verna 1.6 SX,2012,600000,100000,1,Individual,0,First Owner
3,Datsun,Datsun RediGO T Option,2017,250000,46000,2,Individual,0,First Owner
4,Honda,Honda Amaze VX i-DTEC,2014,450000,141000,1,Individual,0,Second Owner

In [16]:
Owner_set = set(df['Owner'])
print(Owner_set)

{'First Owner', 'Test Drive Car', 'Third Owner', 'Fourth & Above Owner', 'Second Owner'}

In [17]:
df['Owner'] = df['Owner'].map({'First Owner':1, 'Third Owner':3, 'Fourth & Above Owner':4, 'Second Owner':2, 'Test Drive Car':0}).astype(int)

In [18]:
df.head

<bound method NDFrame.head of         Brand                                Model  Year  Selling_Price  \
0      Maruti                        Maruti 800 AC  2007          60000
1      Maruti             Maruti Wagon R LXI Minor  2007         135000
2     Hyundai                 Hyundai Verna 1.6 SX  2012         600000
3      Datsun               Datsun RediGO T Option  2017         250000
4       Honda                Honda Amaze VX i-DTEC  2014         450000
...       ...                                  ...   ...            ...
4335  Hyundai  Hyundai i20 Magna 1.4 CRDi (Diesel)  2014         409999
4336  Hyundai           Hyundai i20 Magna 1.4 CRDi  2014         409999
4337   Maruti                  Maruti 800 AC BSIII  2009         110000
4338  Hyundai     Hyundai Creta 1.6 CRDi SX Option  2016         865000
4339  Renault                     Renault KWID RXT  2016         225000

      KM_Driven  Fuel Seller_Type  Transmission  Owner
0         70000     2  Individual             0      1
1         50000     2  Individual             0      1
2        100000     1  Individual             0      1
3         46000     2  Individual             0      1
4        141000     1  Individual             0      2
...         ...   ...         ...           ...    ...
4335      80000     1  Individual             0      2
4336      80000     1  Individual             0      2
4337      83000     2  Individual             0      2
4338      90000     1  Individual             0      1
4339      40000     2  Individual             0      1

[4340 rows x 9 columns]>

In [19]:
Seller_Type_set = set(df['Seller_Type'])
print(Seller_Type_set)

{'Dealer', 'Trustmark Dealer', 'Individual'}

In [20]:
df['Seller_Type'] = df['Seller_Type'].map({'Individual':0, 'Dealer':1, 'Trustmark Dealer':2}).astype(int)

In [21]:
df.head()

,Brand,Model,Year,Selling_Price,KM_Driven,Fuel,Seller_Type,Transmission,Owner
0,Maruti,Maruti 800 AC,2007,60000,70000,2,0,0,1
1,Maruti,Maruti Wagon R LXI Minor,2007,135000,50000,2,0,0,1
2,Hyundai,Hyundai Verna 1.6 SX,2012,600000,100000,1,0,0,1
3,Datsun,Datsun RediGO T Option,2017,250000,46000,2,0,0,1
4,Honda,Honda Amaze VX i-DTEC,2014,450000,141000,1,0,0,2

In [22]:
X=df.drop(['Selling_Price','Brand','Model'],axis=1)
y=df.loc[:,'Selling_Price']

In [23]:
X.head()

   Year  KM_Driven  Fuel  Seller_Type  Transmission  Owner
0  2007      70000     2            0             0      1
1  2007      50000     2            0             0      1
2  2012     100000     1            0             0      1
3  2017      46000     2            0             0      1
4  2014     141000     1            0             0      2

In [24]:
y.head()

0     60000
1    135000
2    600000
3    250000
4    450000
Name: Selling_Price, dtype: int64

In [25]:
from sklearn.preprocessing import StandardScaler

In [26]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import make_pipeline
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.1,random_state=3)

In [27]:
X_train.shape

(3906, 6)

In [28]:
y_train.shape

(3906,)

In [29]:
pipe=make_pipeline(StandardScaler(),LinearRegression())
pipe.fit(X_train,y_train)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression())])

In [30]:
X_test.shape

(434, 6)

In [31]:
pipe.score(X_test,y_test)

0.519091763615471

In [32]:
from sklearn.linear_model import LinearRegression

In [33]:
Lr=LinearRegression()

In [34]:
y_pred=pipe.predict(X_test)

In [35]:
y_pred.shape

(434,)

In [36]:

y_pred

array([ 641594.595473  ,  521747.24446836, 1584736.09091133,
        131923.87554371,  551535.85177486,  605377.27101122,
        476640.1166066 ,  462170.02985535,  418070.67705202,
         37384.49717813,  333067.86544538,  599819.84526282,
        274724.38979436,  445860.20016526,  192046.86316372,
        427146.43844624,  505983.18778527, 1430625.72603149,
        641785.58543792,  424499.3942073 ,  349401.74942505,
        440263.45089039,  588825.01149397,  577440.34459736,
         27339.76994811,  456935.04575274,  783645.71611213,
        330146.29083242,  826448.20886049,  543108.05042632,
       1719066.59690042, 1599166.17175326,  125781.35326184,
        697269.60513786,  176199.03552505,  320822.82679096,
        505601.71185633,  304261.70975879,  719176.18410282,
        378158.52738355,  393517.05384812,  191501.09015672,
         72060.46605729, 1397836.22385735,  494830.2094487 ,
        435028.46678778,  643796.1035841 ,  261807.85110854,
        378946.73021771,  446860.4295618 ,  392971.28084112,
        332100.09629628,  -28482.38848837,  328704.85513251,
        422214.11514062,  583861.04488439,  469506.28518989,
        432663.85828532,  -37921.72403229, 1341654.25040811,
        555134.19923932,  258960.33311127, 1514085.22739753,
        510369.73808388,  355746.18132091, 1420984.42896411,
          8341.38039072,   78944.51957166,  566754.13545095,
        643796.1035841 ,  385089.25249958,  649977.43508859,
       -155416.65901727,  783588.59094056,  309747.98120348,
        430641.91648917,  169594.51119176,  358593.69931818,
        313605.22441867,  393517.05384812,  757596.2133624 ,
        590988.81856522,  423953.6212003 ,  447599.70622493,
        657859.46343014,  396569.62830558,  350189.9522592 ,
        779665.89271873,  369408.96677207,  101487.30819154,
        250430.34472406,  342183.63274892,  -64311.33103808,
        524032.52353504,  399602.6328114 , 1588131.3320751 ,
        -31392.76999784,  275067.05650068, 1437173.51941003,
       1201016.43504593, 1420984.42896411,  473909.30141209,
        115996.51694271, 1703238.03727338,  543753.7521523 ,
        431087.45261701,  590400.22047559,  597088.51576446,
        260699.83917095,  551942.57868008,  672766.49875345,
        377652.76028587,  513077.01329266,  543068.72689985,
        412592.5807394 ,  148801.2688697 ,  385089.25249958,
        -26640.69539003,  419264.41010469,  -43052.71211879,
        605613.73186146,  418818.87397685,   78489.18321257,
        547757.93799546,  409805.97609484,  544781.27535478,
        510369.73808388,  400853.30918267,  551942.57868008,
        212500.13094242,   56480.41720895,  507176.92083794,
        340521.79870016, 1416207.31887005,  356208.18337233,
        184164.83482218, 1332132.95288605,  355707.37209829,
        361646.27377563, 1329831.20789579,  776644.52397166,
        275270.16280137,  123878.7468108 ,  419568.46911492,
       1079171.19653471,  606125.46793605, 1260975.12558788,
        536965.52814445, 1537061.24824642,  498546.69557156,
        624263.59155561,  309747.98120348,  536965.52814445,
        602223.2629879 ,  449053.01741119,  192046.86316372,
        533608.19255481,  462180.3340875 ,  506540.98536132,
        175737.03347363,  213953.44212868,  628616.62913064,
        521201.47146136,  454818.59145459, -117848.21040788,
       1287392.54602019,  188499.95041003,  504975.41272685,
        589206.48742291,  623434.86825325,  561124.54593037,
        747039.75520927,  140267.90593668,  590400.22047559,
        772610.87643396,  657574.13400417, 1420984.42896411,
        688193.84374365,  738881.25495669,  446688.40890873,
       1607724.29084276,  555922.40207347,  824879.62948964,
        -50934.74046033,  673623.52011323,  283089.32763071,
        -57077.2627422 ,  473487.30526998,  738881.25495669,
        614046.30550022,  198189.38544559,  292571.81593014,
        200717.09433942,  667480.99783136,   85177.47850144,
        350813.8580153 ,    6446.08922034,  332795.10391225,
        493575.56304332,  216255.18711894,  393416.81696896,
        488924.85869598, 1689444.48767567,  315593.30766436,
        446405.97317226,  350611.43409746, 1621822.14432975,
       1241473.1610347 ,  591189.61999644,  362434.47660978,
        878188.20936731,  838839.3026016 , 1472321.90598879,
        -78335.88166149, 1459395.37435718,   86916.98456112,
        693328.59096709,  340082.36151699,  260699.83917095,
        786755.77721195,   29541.27805921,  517970.3831651 ,
        347964.06745555,  483530.83581331,  606164.27715868,
        407541.60447154,  485375.76861754,  430299.24978285,
        332116.56221986,  719137.3748802 , 1566061.65271877,
        612306.79944054,  170140.28419876,  567905.26247737,
        480581.13077738,   93967.04502225,  -79529.61471417,
        489974.80246638,  431835.64954184,  382725.84068381,
        665741.49177168,  315593.30766436,  320822.82679096,
        638230.22365316,  475750.04832309,  229717.49881177,
        513326.09963104,  544199.59644032,  198189.38544559,
        258960.33311127,  507176.92083794,  145689.04983939,
        631973.06107178,  624263.59155561,  270158.2731808 ,
       1719066.59690042,  545393.32949299,  135419.35358665,
        147687.9322268 , 1719066.59690042,  543753.7521523 ,
        807089.89152277,  468758.08826506,  495899.65133263,
         83724.16731518,  456489.5096249 ,   93605.27984999,
        339536.58850998,   18911.96859956,  153830.45450867,
        639893.89863595,  499840.6655034 ,  476740.35348577,
         24406.53083576,   41364.32057153,  215692.94818836,
        738881.25495669,  435028.46678778,  543272.34750438,
        298370.474819  ,  293804.35820544, 1086849.60427173,
        575181.9367995 ,  674395.82920225,  457480.81875974,
        336041.11046705,  616372.10478006,  445860.20016526,
        312940.79844942,  779665.89271873,   38617.03945343,
        211852.17089675,  102135.26823721,  511117.93500871,
       1310126.13704193,  522980.98343035,  559417.88011641,
        219188.42623129,  400853.30918267, 1231091.23722585,
        463077.56803461,  -41313.20605911,  578701.46913201,
        606125.46793605,  447194.17600642, 1450646.32804954,
        -64959.29108375,  510369.73808388,  403786.54829502,
        280342.04651261,  575181.9367995 ,  551433.39964921,
        289294.71342478,  184710.60782918, 1719066.59690042,
        536965.52814445,  228726.18967693,  537511.30115145,
        431002.66335669,  585307.79132613,  409281.11053121,
        424499.3942073 ,  207265.14683981,  543196.47850576,
        347581.71724289,   96617.84839813,   63816.67254349,
       -146988.85766872,  462170.02985535,  576078.33009994,
        206617.18679414, -169441.20964068,  414332.08679908,
        582518.19213404,  597088.51576446, 1637413.58459216,
       1518932.58306087, 1467237.39678941,  935475.30050603,
        502487.70974233,  343923.13880859,  690925.173242  ,
        508671.16097628,  641785.58543792,  357947.68943201,
        797796.92251278,  596542.74275745, -283646.8496375 ,
        510369.73808388,  475452.35768231,  302857.26199677,
        745186.87762992,   15616.96431496,  138066.39782558,
        730999.22661514,  606953.67667953,  571194.23137776,
        412257.88782814,  695924.14289996,  537511.30115145,
        543271.15081768,  140188.57650089,   25600.26388844,
        719176.18410282,  431763.54336496,  341821.86757666,
        381593.77445664, -290437.33196504,  355300.64519307,
        260699.83917095,  292814.24575729,  783588.59094056,
        829947.77371325,  515887.15792296,  476194.58047877,
         53812.46552663, 1180782.81673612,  -11524.59875261,
        420857.28169658,  535390.31916283,  349401.74942505,
        543753.7521523 ,  657859.46343014,  616247.81361132,
        298331.66559637,  540158.34539038,  138612.17083258,
        446760.66444763,   17718.23554689,  491412.86415485,
        428440.40837807,  555922.40207347,  740418.85140237,
        328704.85513251,  657859.46343014,   33482.29222998,
        719176.18410282,  246027.32850187,  198189.38544559,
        303319.26404819,  522001.06002375,  604451.92088392,
        585671.00347066, 1336357.53251406,  240936.77795313,
        -86581.72847317,  703030.65149079,  133094.7509935 ,
        780927.01725338,  482353.99138661, 1447656.61710429,
        347964.06745555,  174081.29836954,  938368.56979063,
        702943.1609762 ,  510369.73808388,  783588.59094056,
        359687.19549168,  598243.43959451,  176282.80648063,
        122848.11414949, -348847.4302652 ,  496696.84626658,
       1693466.55704992,  768669.86226319, 1002325.0393502 ,
        448825.62618467,  325512.03788657,  395904.51995347,
        547213.36167515,  522192.7805962 ,  742822.26912746,
        577979.09561695,  437978.17182371])

In [37]:
from sklearn.metrics import r2_score

In [38]:
r2_score(y_test, y_pred)

0.519091763615471